{% extends 'base/main.html' %} 

{% block content %}

<!-- HEADER -->
<div class="header-div">
  <h1 class="welcome-msg">Welcome, {{request.user|title}}!</h1>
  <h3 class="task-count">
    You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}
  </h3>
  <div class="logout">
    {% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
</div>
<hr style="margin-top: 0" />

<!-- TASK LIST -->

<div id="search-add-wrapper">
  <!-- TASK SEARCH -->
  <form class="search-form" method="GET" style="margin-top: 5px; display: flex; width: auto;">
    <input
    type="text"
    name="search-area"
    value="{{search_input}}"
    placeholder="Search Tasks..."
    />
    <input class="button" type="submit" value="Search" />
  </form>
  {% if tasks|length > 0 %}
    <a class="fa-light fa-plus" id="add-link" href="{% url 'task-create' %}"></a>
  {% endif %}
</div>


<!-- TASKS -->
<div class="task-items-wrapper">
  {% for task in tasks %}
  <div class="task-wrapper">
    {% if task.complete %}

    <div class="task-title">
      <i class="fa-solid fa-circle-check"></i>
      <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
    </div>
    <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
    
    {% else %}
    
    <div class="task-title">
      <div class="fa-regular fa-circle"></div>
      <a href="{% url 'task-update' task.id %}">{{task}}</a>
    </div>
    <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
    
    {%endif%}
  </div>
  {% endfor %}
</div>

{% endblock content %} 

{% block scripts %}
<!-- <script>
    const data = '{{tasks_json}}'
    cleanData = JSON.parse(data.replace(/&quot;/g, '"'))
    console.log(cleanData)
</script> -->
{% endblock scripts %}
